/* Projects.css */

.projects-container {
    text-align: center;
  }
  
  .project-card {
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px;
    transition: transform 0.3s ease-in-out;
    display: inline-block;
  }
  
  .project-card:hover {
    transform: scale(1.05);
  }
  
  .project-card h3 {
    color: #343a40;
  }
  
  .project-card p {
    color: #6c757d;
  }
  
  .project-card span {
    display: block;
    margin-top: 10px;
    color: #007bff;
    font-weight: bold;
  }
  